In [1]:
import pandas as pd

Pandas uses Numpy internally, series are fast

In [2]:
l = [x**2 for x in range(5)]
s = pd.Series(l)
s

0     0
1     1
2     4
3     9
4    16
dtype: int64

In [3]:
s[3]

9

In [4]:
# It seems like you're trying to create a pandas Series with a custom index. 
# However, the range function doesn't work with strings. 
# Here's the corrected code:

s = pd.Series(l, index=[chr(x) for x in range(ord('a'), ord('f'))])
s

a     0
b     1
c     4
d     9
e    16
dtype: int64

In [5]:
s = pd.Series(l, index=['a','a','b','b','c'])
s['b']

b    4
b    9
dtype: int64

In [6]:
s.iloc[0]

0

In [7]:
data = {'a':1, 'b':2, 'c':3, 'd':4}
data

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [8]:
s = pd.Series(data)
s

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
s = pd.Series(data, index=['a','c','x'])
s

a    1.0
c    3.0
x    NaN
dtype: float64

In [10]:

s = pd.Series([x for x in range(1,11)])
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [11]:
s.loc[0]

1

In [12]:
s.iat[0]

1

In [13]:
s[-4:-1]

6    7
7    8
8    9
dtype: int64

In [14]:
s.where(s%2==0)

0     NaN
1     2.0
2     NaN
3     4.0
4     NaN
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [15]:
s.where(s%2==0,'Odd Number')

0    Odd Number
1             2
2    Odd Number
3             4
4    Odd Number
5             6
6    Odd Number
7             8
8    Odd Number
9            10
dtype: object

In [16]:
s.where(s%2==0,s**2)

0     1
1     2
2     9
3     4
4    25
5     6
6    49
7     8
8    81
9    10
dtype: int64

In [17]:
s.where(s%2==0,inplace=True)
s.dropna()

1     2.0
3     4.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [18]:
s.fillna('Filled')

0    Filled
1       2.0
2    Filled
3       4.0
4    Filled
5       6.0
6    Filled
7       8.0
8    Filled
9      10.0
dtype: object