In [23]:
import pandas as pd;

df = pd.read_csv("./datasets/HousePrices.csv")

df.head(2)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA

In [20]:
len(df)

4600

In [24]:
df.set_index(['city', 'date'], inplace=True)
df.index

MultiIndex([(   'Shoreline', '2014-05-02 00:00:00'),
            (     'Seattle', '2014-05-02 00:00:00'),
            (        'Kent', '2014-05-02 00:00:00'),
            (    'Bellevue', '2014-05-02 00:00:00'),
            (     'Redmond', '2014-05-02 00:00:00'),
            (     'Seattle', '2014-05-02 00:00:00'),
            (     'Redmond', '2014-05-02 00:00:00'),
            ('Maple Valley', '2014-05-02 00:00:00'),
            (  'North Bend', '2014-05-02 00:00:00'),
            (     'Seattle', '2014-05-02 00:00:00'),
            ...
            (      'Renton', '2014-07-08 00:00:00'),
            (     'Seattle', '2014-07-08 00:00:00'),
            ( 'Federal Way', '2014-07-08 00:00:00'),
            (      'Auburn', '2014-07-08 00:00:00'),
            (        'Kent', '2014-07-09 00:00:00'),
            (     'Seattle', '2014-07-09 00:00:00'),
            (    'Bellevue', '2014-07-09 00:00:00'),
            (      'Renton', '2014-07-09 00:00:00'),
            (     'Seattle', '2014-07-10 00:00:00'),
            (   'Covington', '2014-07-10 00:00:00')],
           names=['city', 'date'], length=4600)

In [28]:
df.loc["Seattle"].loc["2014-07-08 00:00:00"]

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,statezip,country
date,,,,,,,,,,,,,,,,
2014-07-08 00:00:00,4.380000e+05,2.0,2.00,1270,1372,3.0,0,0,3,1270,0,2000,0,848 NE 67th St,WA 98115,USA
2014-07-08 00:00:00,3.150000e+05,2.0,1.00,1080,2674,1.0,0,0,4,720,360,1919,1985,4820 12th Ave S,WA 98108,USA
2014-07-08 00:00:00,7.800000e+05,2.0,2.50,2560,2500,2.0,0,0,5,1690,870,1901,0,419 25th Ave E,WA 98112,USA
2014-07-08 00:00:00,4.800000e+05,2.0,1.00,1060,3040,1.0,0,0,3,860,200,1924,2011,2342 N 60th St,WA 98103,USA
2014-07-08 00:00:00,3.300000e+05,3.0,2.25,2220,4060,1.0,0,0,3,1330,890,1993,0,5401 S Fletcher St,WA 98118,USA
2014-07-08 00:00:00,3.265000e+05,3.0,1.00,1060,7920,1.0,0,0,4,1060,0,1968,0,4149-4399 19th Ave SW,WA 98106,USA
2014-07-08 00:00:00,2.670000e+05,3.0,1.00,1400,8100,1.5,0,0,3,1400,0,1944,0,11520 36th Ave NE,WA 98125,USA
2014-07-08 00:00:00,3.620000e+05,5.0,3.00,1810,3000,2.0,0,0,3,1810,0,1998,2006,4519 33rd Ave S,WA 98118,USA
2014-07-08 00:00:00,3.715000e+05,3.0,1.00,1650,6400,1.0,0,0,4,980,670,1954,1979,9233 25th Ave SW,WA 98106,USA
2014-07-08 00:00:00,3.680000e+05,4.0,1.75,2100,11942,1.0,0,0,3,1030,1070,1964,2000,5901-5909 17th Ave SW,WA 98106,USA
2014-07-08 00:00:00,4.275500e+05,2.0,1.00,880,4000,1.0,0,0,3,880,0,1940,1996,7554 Jones Ave NW,WA 98117,USA
2014-07-08 00:00:00,2.350000e+05,2.0,1.00,1020,7920,1.0,0,0,3,1020,0,1939,1969,1712 S Dawson St,WA 98108,USA
2014-07-08 00:00:00,2.100000e+05,3.0,2.00,960,9380,1.0,0,0,3,960,0,1949,1998,13045 6th Pl SW,WA 98146,USA
2014-07-08 00:00:00,4.850000e+05,4.0,2.25,1900,7200,1.0,0,0,3,1370,530,1977,2004,11042 31st Ave SW,WA 98146,USA
2014-07-08 00:00:00,4.100000e+05,3.0,2.00,1320,6000,1.5,0,0,4,1320,0,1920,0,2200 S Hanford St,WA 98144,USA
2014-07-08 00:00:00,4.350000e+05,4.0,2.75,2230,9640,1.0,0,0,3,1320,910,1998,2006,13362 3rd Ave NE,WA 98125,USA
2014-07-08 00:00:00,2.100000e+05,3.0,1.00,1070,8179,1.0,0,0,3,1070,0,1949,1998,11247 11th Ave SW,WA 98146,USA
2014-07-08 00:00:00,1.050000e+06,4.0,2.75,2250,3433,1.5,0,0,3,1500,750,1927,2013,2052 Boyer Ave E,WA 98112,USA
2014-07-08 00:00:00,6.130000e+05,2.0,2.00,1170,1890,1.5,0,1,4,1170,0,1927,0,2425 Westview Dr W,WA 98119,USA
2014-07-08 00:00:00,1.650000e+05,1.0,1.00,850,8050,1.0,0,0,2,850,0,1906,0,3510 S Holly St,WA 98118,USA
2014-07-08 00:00:00,4.300000e+05,3.0,2.00,1550,6039,1.0,0,0,5,830,720,1942,0,6537 36th Ave SW,WA 98126,USA
2014-07-08 00:00:00,1.195000e+06,4.0,3.50,3960,6654,2.0,0,0,3,2850,1110,2006,0,2905 25th Ave W,WA 98199,USA
2014-07-08 00:00:00,2.015000e+05,3.0,1.00,1320,5000,1.5,0,0,3,1320,0,1912,1994,4207 SW Manning St,WA 98116,USA
2014-07-08 00:00:00,3.250000e+05,2.0,1.00,800,7260,1.0,0,0,3,800,0,1953,0,7354 27th Ave SW,WA 98126,USA
2014-07-08 00:00:00,8.900000e+05,4.0,2.75,2310,4020,3.0,0,0,5,2310,0,1979,0,1602 32nd Ave,WA 98122,USA
2014-07-08 00:00:00,9.700000e+05,5.0,2.75,3500,5040,2.0,0,2,3,2950,550,1927,2007,5433 37th Ave SW,WA 98126,USA
2014-07-08 00:00:00,3.995000e+05,4.0,1.75,1360,4840,1.5,0,0,4,1360,0,1928,0,5048 35th Ave SW,WA 98126,USA
2014-07-08 00:00:00,1.205000e+06,4.0,3.50,3150,5500,2.0,0,0,3,3150,0,2014,0,4908 32nd Ave NE,WA 98105,USA
2014-07-08 00:00:00,3.250000e+05,2.0,1.00,810,4080,1.0,0,0,4,810,0,1941,1998,3620 SW Holden St,WA 98126,USA
2014-07-08 00:00:00,5.170000e+05,2.0,1.50,1920,3408,1.0,0,0,4,960,960,1912,1989,1103 26th Ave,WA 98122,USA
2014-07-08 00:00:00,1.675000e+06,3.0,2.50,3490,8343,2.0,1,4,4,2150,1340,1939,1991,Burke-Gilman Trail,WA 98125,USA
2014-07-08 00:00:00,2.180000e+06,6.0,2.75,4710,11000,2.0,0,3,3,3690,1020,1931,0,4530 51st Ave NE,WA 98105,USA
2014-07-08 00:00:00,1.480000e+05,2.0,1.00,630,4200,1.0,0,0,3,630,0,1930,1997,7760 10th Ave SW,WA 98106,USA
2014-07-08 00:00:00,9.500000e+05,3.0,2.50,3480,7800,1.0,0,0,4,1750,1730,1941,1998,10323 Valmay Ave NW,WA 98177,USA
2014-07-08 00:00:00,4.050000e+05,3.0,1.50,1010,7683,1.5,0,0,5,1010,0,1953,0,12500-12578 10th Ave NE,WA 98125,USA
2014-07-08 00:00:00,6.746000e+05,4.0,2.50,2610,5140,2.0,0,0,3,2610,0,2006,0,922 N 91st St,WA 98103,USA
2014-07-08 00:00:00,3.200000e+05,3.0,3.25,1450,1387,2.0,0,0,3,1180,270,2013,1923,5107 Puget Blvd SW,WA 98106,USA
2014-07-08 00:00:00,3.961667e+05,3.0,1.75,1880,5752,1.0,0,0,4,940,940,1945,0,3529 SW Webster St,WA 98126,USA

In [ ]:
df.loc["Seattle"].loc[]